---
import type { Page } from "astro";
import config from "@data/consts.json";

import { type Meta, type Schema } from "@components/core/MySEO.astro";
import PageLayout from "@layouts/PageLayout.astro";

import Section from "@components/layout/Section.astro";
import Grid from "@components/layout/Grid.astro";
import Heading from "@components/ui/Heading.astro";
import Button from "@components/ui/Button.astro";

import PostCard from "@components/collection/PostCard.astro";
import PagePagination from "@components/collection/PagePagination.astro";
import Categories from "@components/collection/Categories.astro";

export interface Props {
  page: Page;
  categories?: string[];
  pageTitle?: string;
  pageDescription?: string;
  meta: Meta;
  schema?: Schema;
}

const { page, categories, pageTitle, pageDescription, meta, schema } =
  Astro.props;
---

<PageLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  meta={meta}
  schema={schema}
>
  {/* KATEGORIE I POSTY */}
  <Section variant="secondary">
    {
      page && page.data && page.data.length > 0 ? (
        <div class="my-big-stack">
          {/* KATEGORIE */}
          {categories && categories.length > 0 && (
            <div class="flex flex-col justify-start items-center gap-4">
              <p class="font-bold text-lg">Kategorie:</p>
              <Categories baseSlug="/blog/kategoria/" categories={categories} />
            </div>
          )}

          {/* GRID POSTÓW */}
          <Grid cols={2}>
            {page.data.map((post) => (
              <PostCard post={post} headingTag="h2" />
            ))}
          </Grid>

          {/* PAGINACJA */}
          <div class="flex items-center justify-center">
            <PagePagination
              baseSlug="/blog/"
              page={page}
              itemsPerPage={config.site.itemsPerPage.blog}
            />
          </div>
        </div>
      ) : (
        <div class="flex bg-base-300 py-16 rounded-box shadow flex-col gap-4 items-center justify-center w-auto">
          <p class="text-h5">Niestety, nie ma jeszcze postów na blogu</p>
          <Button link="/">Wróć do strony głównej</Button>
        </div>
      )
    }
  </Section>
</PageLayout>
