---
import type { CollectionEntry } from "astro:content";

import PageLayout from "@layouts/PageLayout.astro";

import { type Meta, type Schema } from "@components/core/MySEO.astro";

import Section from "@components/layout/Section.astro";
import PortfolioCard from "@components/collection/PortfolioCard.astro";
import Button from "@components/ui/Button.astro";
import Grid from "~/components/layout/Grid.astro";

export interface Props {
  items: CollectionEntry<"portfolio">[];
  pageTitle?: string;
  pageDescription?: string;
  meta: Meta;
  schema?: Schema;
}

const { items, pageTitle, pageDescription, meta, schema } = Astro.props;
---

<PageLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  meta={meta}
  schema={schema}
>
  <Section>
    {
      items.length === 0 ? (
        <div class="flex bg-base-300 py-16 rounded-box shadow flex-col gap-4 items-center justify-center w-auto">
          <p class="text-h5">
            Niestety, ale nie ma jeszcze realizacji na stronie
          </p>
          <Button link="/">Wróć do strony głównej</Button>
        </div>
      ) : (
        <Grid cols={1}>
          {items.map((item) => (
            <PortfolioCard item={item} />
          ))}
        </Grid>
      )
    }
  </Section>
</PageLayout>
