---
import config from "@data/consts.json";
import { type Meta, type Schema } from "@components/core/MySEO.astro";

import PageLayout from "@layouts/BaseLayout.astro";

import Section from "@components/layout/Section.astro";
import Heading from "@components/ui/Heading.astro";

export interface Props {
  pageTitle: string;
  pageDescription?: string;
  href?: string;
  btnText?: string;
  meta: Meta;
  schema?: Schema;
}

const {
  pageTitle,
  pageDescription = null,
  href = "/",
  btnText = "Wróć na stronę główną",
  meta,
  schema,
} = Astro.props;
---

<PageLayout meta={meta} schema={schema}>
  <Section>
    <div
      class="shadow relative flex min-h-[32rem] flex-col items-center justify-center rounded-3xl p-8 text-center md:min-h-[40rem] md:p-16 bg-base-300"
    >
      <div class="w-full max-w-lg">
        <p class="mb-8 text-3xl text-landing-red-100">{config.site.name}</p>

        <div class="flex flex-col gap-4">
          <Heading tag="h1" class="text-center">
            {pageTitle}
          </Heading>
          <p class="md:text-md">{pageDescription}</p>
          <p><slot /></p>
        </div>
      </div>
      <div
        class="mt-6 flex flex-wrap items-center justify-center gap-4 md:mt-8"
      >
        <a href={href} class="btn btn-lg btn-primary"> {btnText} </a>
      </div>
    </div>
  </Section>
</PageLayout>
